env.yml
.DS_Store
*.log
env/secret_keys.env
docker/local/credentials/*
docker/local/firebase/bin/*
docker/local/firebase/config/*
docker/local/firebase/data/*
docker/local/firebase/firebase-debug.log
!.gitkeep
